@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-sc {
    @apply flex h-screen w-screen items-center justify-center;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  /* overflow-x: hidden; */
  /* scroll-behavior: smooth; */
}
.red {
  border: 1px solid red;
}
.gn {
  border: 1px solid green;
}

/* TODO : i have to theming this on orange  */
::-webkit-scrollbar {
  display: none;
}
::selection {
  background: #f26522;
  color: white;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
